* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	width: 80%;
}

header {
	margin: 1em 0;
}

h1 {
	margin-bottom: 5px;
}

.main {
	display: flex;
	gap: 5em;
}

ul {
	margin: 0.8em 3em;
}

li {
	margin: 1px 0;
	font-size: 1.2rem;
	width: auto;
}

li:hover {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 600px;
}
th,
td {
	border: 1px solid black;
	padding: 8px;
}

tr:nth-child(2n) {
	background-color: #d9d8da;
}

.name {
	width: 100px;
}
